<h2>Add Project</h2>

<form action="/Project" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br>

    <label>Add Members:</label><br>
    <input type="text" name="name" required><br><br>

    <input type="submit" value="Submit">
</form>

<h2>Add Task</h2>

<form action="/Task" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br>

    <label>Assign Task:</label><br>
    <input type="text" name="name" required><br><br>

    <input type="submit" value="Submit">
</form>

