<h1>List of my boards I can go to!</h1>
<form method="POST" action="/newboard">
    <input type="text" name="name" id="name" placeholder="Board Name">
    <label for="teamId">Team ID:</label>
    <input type="number" id="teamId" name="teamId">
    <input type="submit">
</form>