
<!-- NAVBAR -->
<div class="navbar">
  <a href="/">Login</a>
  <div class="dropdown">
    <button class="dropbtn" aria-label="Display boards">Boards</button>
    <div class="dropdown-content">
      {{#each boards}}
        <a id="dropdown{{this.id}}" onclick="generateBoard({{this.id}})">{{this.name}}</a>
      {{/each}}
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn" aria-label="Display team members">Team</button>
    <div class="dropdown-content">
      <a href="#">User 1</a>
      <a href="#">User 2</a>
      <a href="#">User 3</a>
      <a href="#">User 4</a>
    </div>
  </div> 
  <label for="boardName" style="display: none">Edit board name</label>
  <input id="boardName" type="text" class="title" value="Board Name" style="font-size: 38px;">
  <div id="delete-board-button" class="delete-board-button" alt="delete board"></div>
  <img id="new-board-button" onclick="displayNewBoardForm()" style="float: right; margin: 0; padding: 10px 5px; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);" class="plus" alt="open new board form"/>

</div>

<!-- FORM FOR CREATING NEW BOARDS -->
<div id="new-board-form" style="display: none; padding: 5px; float: right; background: rgb(116, 199, 240);">
    <form action="/api/board/createBoard" method="POST" aria-label="New board form">
      <label for="name" style="display: none">New board name</label>
      <input required type="text" name="name" id="name" placeholder="Board name" pattern="^[a-zA-Z0-9, .-]+$" title="Please only use alphanumeric characters or punctuation symbols">
      <input type="Submit" aria-label="Submit new board form">
    </form>
  </div>

<!-- BOARD -->
<div id="container" class="flex-container">
  {{!-- <div class="column">
    <input type="text" class="edit" value="To Do" style="font-size: 30px;">
    <ul id="sortable" class="connectedSortable">
      <li class="task">
        <input type="text" class="edit" value="Task 1" style="font-size: 22px;">
        <textarea class="edit" style="font-size: 14px;">Description</textarea>
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar">
      </li>
      <li class="task">
        <input type="text" class="edit" value="Task 2" style="font-size: 22px;">
        <textarea class="edit" style="font-size: 14px;">Description</textarea>
      </li>
    </ul>
  </div>

  <div class="column">
    <input type="text" class="edit" value="Doing" style="font-size: 30px;">
    <ul id="sortable" class="connectedSortable">
      <li class="task">
        <input type="text" class="edit" value="Task 3" style="font-size: 22px;">
        <textarea class="edit" style="font-size: 14px;">Description</textarea>
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="avatar">
      </li>
    </ul>
  </div>

  <div class="column">
    <input type="text" class="edit" value="Doing" style="font-size: 30px;">
    <ul id="sortable" class="connectedSortable">
    </ul>
  </div> --}}
</div>

<script src="http://localhost:3000/script.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

</script>
