
<!-- NAVBAR -->
<div class="navbar">
  <a href="/">Login</a>
  <div class="dropdown">
    <button class="dropbtn">Boards</button>
    <div class="dropdown-content">
      <a href="#">Board 1</a>
      <a href="#">Board 2</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Team</button>
    <div class="dropdown-content">
      <a href="#">User 1</a>
      <a href="#">User 2</a>
      <a href="#">User 3</a>
      <a href="#">User 4</a>
    </div>
  </div> 
  <h1 class="title">Board Title 
  <button class=".smallbtn">Edit</button></h1>
</div>

<!-- BOARD -->
<div class="flex-container">
  <div class="column">
    <h1>To Do</h1>
    <ul id="sortable1" class="connectedSortable">
      <li class="task"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
      <li class="task"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
      <li class="task"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
      <li class="task"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
    </ul>
  </div>

  <div class="column">
    <h1>Doing</h1>
    <ul id="sortable2" class="connectedSortable">
      <li class="task"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
    </ul>
  </div>

  <div class="column">
    <h1>Done</h1>
    <ul id="sortable3" class="connectedSortable">
    </ul>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#sortable1, #sortable2, #sortable3" ).sortable({
      connectWith: ".connectedSortable",
      dropOnEmpty: true
    }).disableSelection();
  } );
</script>
