<h1>List of my boards I can go to!</h1>
<form action="/boardsList" method="POST">
    <input type="text" name="name" id="name" placeholder="Board name">
    <label for="teamId">Team ID:</label>
    <input type="number" name="teamId" id="teamId">
    <input type="Submit">
</form>