<link rel="stylesheet" href="http://localhost:3000/homeStyle.css"/>
            
        
            <div class="navbar1"> 
                   <div class="login-container">
                   <form action="/action_page.php">
                  <input type="text" placeholder="Username" name="username">
                  <input type="text" placeholder="Password" name="psw">
                  <button type="submit">Login</button>
                  </form>
             
                    </div>
                     <ul class="nav-area"> 
                  <li><a href="#">My Teams</a></li>
                  <li><a href="#">Register</a></li>
                     </ul>
                </div>

            </div>

             <header>
             <div class="header">
                <h1>Welcome to Organ;se</h1>


           
            
            </div>
            </header>

            <div 
           <div class="triangle-right">
               <h1>Plan</h1>
           </div>

           <div class="triangle-right">
               <h1>track</h1>
           </div>
           
           <div class="triangle-right">
               <h1>Release</h1>
           </div>

           <div class="triangle-right">
               <h1>Report</h1>
           </div>
           
           <div class="header1">
                <p>
                    By following these steps Organise allows you to strategise projects with your team in a clear format. This shows you what your working on, what you need to do and what you have already completed simultaneously.
                </p>
            </div>
            

            

            <footer>
    

            <div class="checklist">
            
               <img src="https://hosting.photobucket.com/images/i/wayway13/checklist123.png" alt="">
            </div>
        

           <div class="conc">
              <p>Team work Makes the dream work</p>

           </div>
        

           
            <button>Create Project Board</button>
            
            
            </footer>
