
         <div class="wrapper">
             <div class="logo">
             </div> 
             <ul class="nav-area">
                 <li><a href="#">Login</a></li>
                 <li><a href="#">Register</a></li>
                 <li><a href="#">Create Project Board</a></li>
            </ul> 
            </div>

            <div class="Welcome-text">
                <h1>To-Do App</h1>
            <img src="http://www.workflowmax.com/hubfs/6-things-to-do-list.png" alt="Trulli" width="500" height="333">
            <h1>Team work Makes the dream work</h1>
            <button>Start Project Board</button>
            </div>
            

